{% extends "base.html" %}

{% block content %}
  <h1>{{ game.name }} details</h1>
  <h3>Release year: {{ game.year }}</h3>
  <hr>
  <ul>
    <li>
      <p>
        Publisher: 
        <a href="{% url 'games:publishers-detail' pk=game.publishers.id %}">
          {{ game.publishers.name }}
        </a>
      </p>
    </li>
  </ul>
  {% if game.players %}
  <hr>
  <h5>Players:</h5>
  <ol>
    {% for player in game.players.all %}
      <li>
          <a href="{% url 'games:players-detail' pk=player.id %}">{{ player.username }}</a>
      </li>
    {% endfor %}
  </ol>  
  {% else %}
    <p><i>Nobody is playing this game yet</i></p>
  {% endif %}
  
{% endblock %}
