{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="form-inline">
    <h1>Here we have players</h1>
    <a href="{% url 'games:players-create' %}" class="btn btn-primary link-to-page">
        Create
    </a>
  </div>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="Find" class="btn btn-secondary">
  </form>
  {% if player_list %}
    <ul>
      {% for player in player_list %}
        <li><a href="{% url 'games:players-detail' pk=player.id %}">{{ player.username }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p><i>Players not found</i></p>
  {% endif %}
{% endblock %}
