{% extends "base.html" %}

{% block content %}
  <div class="form-inline">
    <h1>
      {{ player.username }} details
    </h1>
      {% if user.is_authenticated %}
        <p style="font-size: 11px">🟢</p>
      {% else %}
        <p style="font-size: 11px">🔴</p>
      {% endif %}
  </div>
  
  {% if player.first_name %}
    <p>Full name: {{ player.first_name }} {{ player.last_name }}</p>
  {% endif %}
  {% if player.games %}
  <hr>
  <h5>Games</h5>
  <ol>
    {% for game in player.games.all %}
      <li>
          <a href="{% url 'games:games-detail' pk=game.id %}">{{ game.name }}</a>
      </li>
    {% endfor %}
  </ol>  
  {% else %}
    <p><i>This person doesn't play games (yet)</i></p>
  {% endif %}
  
{% endblock %}
